package home

import (
	"net/http"

	"github.com/adampresley/adamgokit/httphelpers"
	"github.com/adampresley/adamgokit/rendering"
	"{{.GithubRepo}}/cmd/{{.AppName}}/internal/viewmodels"
)

func (c HomeController) AboutPage(w http.ResponseWriter, r *http.Request) {
	pageName := "pages/about"

	viewData := AboutPage{
		BaseViewModel: viewmodels.BaseViewModel{
			IsHtmx:             httphelpers.IsHtmx(r),
			JavascriptIncludes: []rendering.JavascriptInclude{},
		},
	}

	c.renderer.Render(pageName, viewData, w)
}
