{{`{{template "layouts/layout" .}}`}}
{{`{{define "title"}}Home{{end}}`}}
{{`{{define "content"}}`}}

<h2>Greetings!</h2>

{{`{{template "components/display-messages" .}}`}}

<p>Hello world!</p>

{{`{{end}}`}}
